# Introduction

In [ ]:
# import all packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

import glob
import os

%matplotlib inline

In [2]:
df = pd.read_csv('202006-baywheels-tripdata.csv')

In [3]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,08A4A9F7315901F3,electric_bike,2020-06-03 16:37:10,2020-06-03 16:48:28,NaN,NaN,NaN,NaN,37.770000,-122.40000,37.760000,-122.420000,casual
1,844F9D906468C441,electric_bike,2020-06-03 12:22:47,2020-06-03 12:44:02,NaN,NaN,NaN,NaN,37.780000,-122.49000,37.780000,-122.460000,casual
2,0E441BF8A86C544E,electric_bike,2020-06-02 17:37:43,2020-06-02 17:52:21,Powell St at Columbus Ave,487.0,NaN,NaN,37.800426,-122.41095,37.790000,-122.440000,casual
3,CAFE64864422F475,electric_bike,2020-06-02 18:13:01,2020-06-02 18:48:30,NaN,NaN,NaN,NaN,37.760000,-122.41000,37.770000,-122.430000,casual
4,172957A20160D568,electric_bike,2020-06-03 15:16:06,2020-06-03 16:06:10,Church St at Duboce Ave,85.0,48th Ave at Cabrillo St,521.0,37.769841,-122.42921,37.772894,-122.509079,casual

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158168 entries, 0 to 158167
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             158168 non-null  object
 1   rideable_type       158168 non-null  object
 2   started_at          158168 non-null  object
 3   ended_at            158168 non-null  object
 4   start_station_name  99220 non-null   object
 5   start_station_id    99220 non-null   float64
 6   end_station_name    97151 non-null   object
 7   end_station_id      97151 non-null   float64
 8   start_lat           158168 non-null  float64
 9   start_lng           158168 non-null  float64
 10  end_lat             157892 non-null  float64
 11  end_lng             157892 non-null  float64
 12  member_casual       158168 non-null  object
dtypes: float64(6), object(7)
memory usage: 15.7+ MB

In [5]:
df.shape

(158168, 13)

In [6]:
df.describe()

,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng
count,99220.000000,97151.000000,158168.000000,158168.000000,157892.000000,157892.000000
mean,222.670762,220.933104,37.730514,-122.353640,37.730497,-122.353779
std,170.109389,169.794631,0.140991,0.170709,0.141111,0.170778
min,3.000000,3.000000,37.240000,-122.510000,37.230000,-122.540000
25%,73.000000,73.000000,37.760000,-122.431873,37.760000,-122.431184
50%,156.000000,149.000000,37.773717,-122.412036,37.773532,-122.412073
75%,381.000000,380.000000,37.788396,-122.391173,37.788927,-122.391198
max,532.000000,532.000000,37.880222,-121.770000,37.950000,-121.760000

In [7]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')